<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <link href="/static/css/site.css" rel="stylesheet" />
</head>

<body class="container ">
    <div id="header" class="row header row-cols-lg-auto g-3 align-items-center">
        <div class="col"></div>
        <div class="input-group mb-3">
            <input id="url" type="text" class="form-control" placeholder="UG Tab URL" aria-label="UG Tab URL" aria-describedby="url">
            <button class="btn btn-outline-secondary" type="button" id="submit">Get Tab</button>
        </div>

    </div>
    <div id='status' class="col d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="row">
        <pre>
            <code id="tab">
            </code>
         </pre>
    </div>
    <script src="/static/js/UGPrint.js"></script>
</body>

</html>